#container {
    display: flex;
    height: 700px;
}
#video_details {
    flex: 7;
    display: flex;
    object-fit: contain;
}

#recommendations {
    flex: 3;
}

div{
    border: solid 1px black;
}
